body {
  background-color: var(--background-color) !important;
  font-family: "Noto Sans Devanagari", sans-serif !important;
  font-size: 16px !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-x: hidden;
}

.double-underline {
  border-bottom: 3px double #e50c15;
  margin-top: 5px;
}

.section-title {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: left;
  text-transform: uppercase;
}

.b-news a {
  text-decoration: none !important;
  font-weight: 400;
  font-size: 20px;
}
.b-news a:hover {
  text-decoration: none !important;
  font-weight: 400;
  color: #e50c15 !important;
}
.t-news a {
  text-decoration: none !important;
  font-weight: 400;
  font-size: 14px;
}
.t-news a:hover {
  text-decoration: none !important;
  font-weight: 400;
  color: #e50c15 !important;
}

.top-heading {
  background: #ff4d4d;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 15px;
}

.card-background {
  background: #fff;
  border-radius: 6px;
}

.dark-theme .card-background {
  background: none !important;
}

.dark-theme.black-bg .card-background {
  background: #000 !important;
}
.news-card {
  gap: 10px;
  background: #e9fafa;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: none;
}

.news-card2 {
  display: flex;
  gap: 10px;
  background: #fff3f3;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.dark-theme .news-card,
.dark-theme .news-card2 {
  background: none !important;
}

.dark-theme.black-bg .news-card,
.dark-theme.black-bg .news-card2 {
  background: #000 !important;
}
  #prevBtn {
    left: 15px;
  }

  #skipBtn {
    right: 15px;
  }

  .slider-container-top {
    position: relative;
  }