<div class="container ">
  <div class="row mt-3 ">
    <div class="col-lg-3 col-md-12 col-sm-12 mb-3 row-p-0">     
     <dhiv class="mb-3">
            <div class="section-title">Braking News</div>
            <div class="double-underline"></div>
        </dhiv>
      <div class="block-content mt-4">
         {% for news in LatestNews|slice:"1:5" %}
        <article class="row g-3 align-items-stretch border-bottom pb-3 mb-3">
          <!-- 🔸 left: Media -->
          <div class="col-lg-4 col-12">
            <div class="ratio ratio-16x9 bg-dark">
              {% if news.video_file %}
              <video class="w-100 h-100 object-fit-cover" preload="none" loop playsinline autoplay muted>
                <source src="{{ news.video_file.url }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              {% else %}
              <img src="{{ news.post_image.url }}" alt="{{ news.post_title }}" title="{{ news.post_title }}"
                  class="img-fluid rounded w-100 h-100 object-fit-cover" loading="lazy" />
              {% endif %}
            </div>
          </div>
          <!-- 🔹 right: Text Content -->
          <div class="col-lg-8 col-12 d-flex flex-column justify-content-between">
            <div class="b-news mb-1">
              <a  href="/{{ news.slug }}">
                {{ news.post_title|truncatechars:42 }}
              </a>

              
            </div>

            <div class="d-flex align-items-center small  mt-1">
              <span>{{ news.post_date }}</span>
              <div class="share-icons-container  mx-2">
                {% include 'share.html' %}
              </div>
            </div>
          </div>

          
        </article>
        {% endfor %}
      </div>

    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 mb-3 row-p-0">      
      <div class="mb-3">
            <div class="section-title">Video News</div>
            <div class="double-underline"></div>
        </div>
      <div class="slider-container-top">
        <div class=" trending-swiper">
          <div class="swiper-wrapper">
            {% for CatVid in videos %}
            <div class="swiper-slide">
              <a href="/video/{{CatVid.slug}}">
                <img src="https://img.youtube.com/vi/{{CatVid.video_url}}/hqdefault.jpg" alt="{{CatVid.video_title}}"
                  title="{{CatVid.video_title}}" loading="lazy" width="709" height="363" />
              </a>
              <div class="dxv-overlay">
                <span class="category">{{ CatVid.News_Category }}</span>
                <a href="/video/{{CatVid.slug}}">
                  <h2 class="title">{{ CatVid.video_title }}</h2>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- <div class="swiper-button-next trending-next"></div>
          <div class="swiper-button-prev trending-prev"></div> -->
        </div>
        <div class="swiper trending-thumb-swiper">
          <div class="swiper-wrapper">
            <!-- {% for news in headline %}
            <div class="swiper-slide"><img src="{{ news.post_image.url }}" alt="{{ news.post_title }}"
                title="{{ news.post_title }}" loading="lazy"></div>
            {% endfor %} -->
          </div>
        </div>
      </div>
    </div>

    <!-- Wrapper for Trending News Slider -->
  <div class="col-lg-3 col-md-12 col-sm-12 p-0">
        <div class="">
          <div class="section-title">Trending News</div>
          <div class="double-underline"></div>
        </div>
        <!-- Slider Start -->
        <div class="hnews-slider">
            {% for Blog in trendpost %}
            <div class="post-block-style-wrapper post-block-template-four my-3">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-media-wrap">
                        <a href="/{{ Blog.slug }}">
                            <img src="{{ Blog.post_image.url }}" 
                                 alt="{{ Blog.post_title }}" 
                                 title="{{ Blog.post_title }}" 
                                 loading="lazy">
                        </a>
                    </div>
                    <div class="post-block-content-wrap mt-3">
                        <div class="post-item-title">
                            <h2 class="post-title">
                                <a href="/{{ Blog.slug }}">
                                    {{ Blog.post_title|truncatechars:80 }}
                                </a>
                            </h2>
                        </div>
                        <div class="post-excerpt-box">
                            <p>{{ Blog.post_short_des|truncatechars:150 }}</p>
                        </div>
                        <div class="post-bottom-meta">
                            <div class="post-meta-author-box">
                                By 
                                <a style="color: #de1c24 !important;" href="javascript:void(0)">
                                    {% if Blog.author %}
                                        {{ Blog.author.first_name|capfirst }} {{ Blog.author.last_name|capfirst }}
                                    {% elif Blog.journalist %}
                                        {{ Blog.journalist.first_name|capfirst }} {{ Blog.journalist.last_name|capfirst }}
                                    {% else %}
                                        Admin
                                    {% endif %}
                                </a>
                            </div>
                             <div class="d-flex align-items-center small  mt-1">
                              <span>{{ Blog.schedule_date|date }} | {{ Blog.schedule_date|time }}</span>
                              <div class="share-icons-container  mx-2">
                                {% include 'share.html' with posts=Blog %}
                              </div>
                            </div>
                           
                        </div>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Slider End -->
    </div>


</div>



  </div>


<!-- <div class=" row my-2">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5922835412614482"
      crossorigin="anonymous"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5922835412614482" data-ad-slot="2979021120"
      data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5922835412614482"
      crossorigin="anonymous"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5922835412614482" data-ad-slot="2979021120"
      data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div> -->
</div>
<!-- Slick Slider CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>

<!-- jQuery & Slick JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<!-- Initialize Slider -->
<script>
  $(document).ready(function(){
    $('.hnews-slider').slick({
      autoplay: true,
      autoplaySpeed: 3000,
      arrows: false,
      dots: true,
      infinite: true,
      speed: 500,
      slidesToShow: 1,
      slidesToScroll: 1,
      adaptiveHeight: true
    });
  });
</script>